header {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s ease;
}

.loaded {
  box-shadow: 0px 3px 8px rgba(255, 45, 253, 0.75);
}

.loading {
  box-shadow: 0px 3px 8px rgba(0, 255, 255, 0.75);
}

.error {
  box-shadow: 0px 3px 8px rgba(218, 47, 47, 0.75);
}

header nav #right-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  font-weight: 200;
}

#inner-nav {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

#inner-nav ul {
  display: flex;
  flex-direction: row;
}

#inner-nav #right-nav li {
  margin: 0 0 0 4.5em;
}

#main-logo {
  font-family: "Bumbbled";
  margin: 0;
  font-weight: 200;
}

#header-logo {
  font-family: "Bumbbled";
}

#right-nav li {
  padding: 7px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  transition: color 0.13s ease;
}

#right-nav li:hover {
  background-color: rgba(82, 70, 70, 0.25);
  color: rgba(0, 255, 255, 0.75);
}
